<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <remove name="Default" />
        <add name="Debug" type="Tests.Dybal.Utils.TypedValues.SourceGenerators.Diagnostics.DebugTraceListener, Tests.Dybal.Utils.TypedValues.SourceGenerators" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
